<div class="jumbotron">
  <div class="container">
    <h1>Welcome to Bug Tracker!</h1>
    <p>99 little bugs in the code, 99 little bugs in the code.</br>
    Take one down, patch it around, 117 little bugs in the code.</p>
    <!--<p><a class="btn btn-primary btn-lg" href="#" role="button">Learn more &raquo;</a></p> -->
  </div>
</div>

<div class="container">
  <!-- Example row of columns -->
  <div class="row">
    <% @bugs.each do |bug| %>
      <div class="col-md-4">
        <h2><%= bug.title%></h2>
        <p>Priority: <%= bug.priority.truncate_words(30)%></p>
        <p>Type: <%= bug.issue_type.truncate_words(30)%></p>
        <p>Status: <%= bug.status.truncate_words(30)%></p>
        <p>"<%= bug.description.truncate_words(30)%>"</p>
        <p>
          <%= link_to 'View bug', bug, class: "btn btn-default"%>
        </p>
      </div>
      <% end %>
  </div>

  <hr>

</div> <!-- /container -->

<footer class="container">
  <p>&copy; Kyle Hekhuis & Nathan Hull 2018</p>
</footer>
